body
{
    text-align: center;
}
#sir
{
    height:250px;
    width:250px;
    border-radius:50%;
    padding-top: 100px;
}   
#intro
{
    height: 500px;
    width: 100%;
    background:linear-gradient(#ff0000 0%,#000a69 80%);
    padding-top: 50px;
    color: aliceblue
    
}
.line
{
    height: 5px;
    margin: auto;
    background-color: black;
    width: 100px;
}
#bio
{
     width: 200px;
     text-align: center;
     padding-left: 600px;
}

.m_n
{
     list-style: none;
     font-family:sans-serif;
     font-weight: bolder;
     font-size: 18px;
     position: fixed;
     top: 10px;
     right: 10px;
     cursor: pointer;
}
.links
{
     float: left;
     padding-left: 10px;
     padding-right: 10px;
     color: gold;
}

.links:hover{
    background-color: black;
}

.tim
{
    font-family: 'Vujahday Script', cursive;
}

#r
{
    font-family: 'Roboto Mono', monospace;
}

a
{
    text-decoration: none
}

.links a
{
    color: gold
}