body
{
    text-align: center;
}
#sir
{
    height:250px;
    width:250px;
    border-radius:50%;
    padding-top: 100px;
}   
#intro
{
    height: 500px;
    width: 100%;
    background:linear-gradient(#ff0000 0%,#000a69 80%);
    padding-top: 50px;
    color: aliceblue
    
}
.line
{
    height: 5px;
    margin: auto;
    background-color: black;
    width: 100px;
}
#bio
{
     text-align: center;
}


.links
{
     float: left;
     padding-left: 10px;
     padding-right: 10px;
     color: gold;
    display: inline;
}

.links:hover{
    transform: scale(1.1);
}

.tim
{
    font-family: 'Vujahday Script', cursive;
}

#r
{
    font-family: 'Roboto Mono', monospace;
}

a
{
    text-decoration: none;
     text-shadow: 10px 10px 10px black;
}

.links a
{
    color: gold;
}

#foot h3
{
    display: inline;
}

#contact iframe
{
    width: 100%;
}

#a
{
	background-color: black;
	text-shadow: none !important;
	color: yellow;
}

#b{
	background-color:black;
	text-shadow: none !important;
	color: yellow;
}
.my-nav-bar
{
	position: sticky;
	top: 0;
	z-index: 999;
}